<h2>Ślub</h2>
<p><strong>Kiedy</strong>: 5 sierpnia 2017, 18.00</p>
<p><strong>Gdzie</strong>: <a href="https://goo.gl/maps/iVikqSgPXTD2">Kościół Św. Józefa w Tomaszowie Lubelskim</a></p>

<h2>Szczegóły</h2>
<ul>
  <li>Ślub rozpoczyna się o godzinie 18.00</li>
  <li>Przyjęcie weselne będzie w <a href="https://goo.gl/maps/YeAdc6rpycD2">Hotelu Antoni</a></li>
  <li>Prosimy o wypełnienie <a href="https://goo.gl/forms/Y3L6zAzjx0YYs6cb2">ankiety obecności</a do 17 czerwca 2017.</li>
</ul>

<h2>Prezenty</h2>
<pre>
  Nasi Kochani Goście.
  Kwiatkw nam nie przynoście.
  Wolimy dostać pluszaki,
  będą się cieszyć dzieciaki.
</pre>

<h2>Kontakt</h2>
<ul>
  <li>Jeśli masz jakieś pytania napisz <a href="mailto:ayufaz+slub@ayufan.eu" onmouseover="this.href=this.href.replace(/z/n, '');">e-mail</a>.</li>
  <li>Zadzwoń do Marty: <a href="callto:+48661609620">+48661609620</a></li>
  <li>Zadzwoń do Kamila: <a href="callto:+48606948394">+48606948394</a></li>
</ul>
<hr />
