<h2>Information</h2>
<p><strong>When</strong>: 26 October 2016</p>
<p><strong>Where</strong>: <a href="https://goo.gl/maps/K7SFeHWKBvQ2">Terrain, 914 Baltimore Pike, Glen Mills, PA 19342</a></p>

<h2>Details</h2>
<ul>
  <li>Ceremony begins at 5:30 pm</li>
  <li>Reception and dinner immediately follow</li>
  <li>Semiformal dress</li>
  <li>Rain or shine</li>
  <li>Hotel reservation block available at <a href="http://www.wyndham.com/hotels/pennsylvania/glen-mills/wyndham-garden-glen-mills-wilmington/hotel-overview">Wyndham Garden</a></li>
</ul>

<h2>RSVP</h2>
<p>Please <a href="https://docs.google.com/forms/d/1Vzucfj5OwRmjOg3xHPEt4IXcc6bkBr3g3oYTXY8E5ic/viewform">send your RSVP</a> online.</p>

<p>If you need to reach us, please <a href="mailto:zalexz.zbza.zchinz+zkaitlinz.zmariez.zreidz@gmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">send us an email</a>.</p>

<hr />
