<h1>Ślub</h1>
<p>5 sierpnia 2017, 18.00</p>
<p><a href="https://goo.gl/maps/iVikqSgPXTD2">Kościół Św. Józefa w Tomaszowie Lubelskim</a></p>
<hr />
<h2>Przyjęcie</h2>
<p><a href="https://goo.gl/maps/YeAdc6rpycD2">Hotel Antoni w Tomaszowie Lubelskim</a></p>
<p>
Prosimy, wypełnijcie <a href="https://goo.gl/forms/Y3L6zAzjx0YYs6cb2"><strong>ankietę</strong></a>. Pozwoli nam to zorganizować naszą małą
uroczystość tak, byście czuli się dobrze i bawili jeszcze lepiej :)
</p>
<hr />
<h2>Prezenty</h2>
<pre>
  Nasi Kochani Goście.
  Kwiatków nam nie przynoście.
  Wolimy dostać pluszaki,
  będą się cieszyć dzieciaki.
</pre>
<hr />
<h2>Atrakcje turystyczne</h2>
<ul>
  <li><a href="http://roztocze-agroturystyka.pl/szlaki-turystyczne-piesze/qszlak-szumow.html">Szlak Szumów</a></li>
  <li><a href="http://www.belzec.eu/pl">Miejsce Pamięci w Bełżcu</a></li>
</ul>
<hr />
<h2>Kontakt</h2>
<ul>
  <li>Jeśli masz jakieś pytania skontaktuj się <a href="mailto:ayufaz+slub@ayufan.eu" onmouseover="this.href=this.href.replace(/z/n, '');">z nami</a>.</li>
  <li>Zadzwoń do Marty: <a href="callto:+48661609620">+48661609620</a></li>
  <li>Zadzwoń do Kamila: <a href="callto:+48606948394">+48606948394</a></li>
</ul>
<hr />
